/* Write a selector to target the h1 in the first “hero” section */
.jumbotron h1:first-child {
  background-color: lightseagreen;
}

/* Write a selector to target every child of the navbar */
.nav > span {
  color: seagreen;
}

/* Write a selector to target the “continue reading…” inside the jumbotron */
.jumbotron a {
  border: 1px solid seagreen;
}

/* Write a selector to target the first blogpost */

.blog-post .blog-post-meta + p {
  color: red;
}
