/* Write a selector to target the h1 in the first “hero” section */
.jumbotron h1:first-child {
  background-color: lightskyblue;
}

/* Write a selector to target every child of the navbar */
.nav > span {
  color: seagreen;
}

/* Write a selector to target the “continue reading…” inside the jumbotron */
.jumbotron a {
  background-color: lightskyblue;
}

/* Write a selector to target the first blogpost */

.container .blog-main .blog-post:first-of-type {
  border: 2px dotted lightseagreen;
}

/* Write a selector to target the first blogpost <hr> and turn it red */

.container .blog-post hr {
  border: 1px solid red;
}

/* Write a selector to target the “even” links in the navbar */

.nav span:nth-child(even)
/* span:nth-child(4),
span:nth-child(6),
span:nth-child(8),
span:nth-child(10),
span:nth-child(12) { */ {
  background-color: lightskyblue;
}

/* Write a selector to target all the <li> into the first ordered-list in the sidebar ( Archives ) */
.col-md-4 div:nth-child(2) li {
  background-color: lightskyblue;
}

/* Write a selector to target the second blog-post author */
.container .blog-main .blog-post:nth-child(3) .blog-post-meta a {
  background-color: lightskyblue;
}

/* Write a selector to target the second <li> in the third blog-post unordered-list */

.container .blog-main .blog-post:nth-child(4) ul li:nth-child(2) {
  background-color: lightskyblue;
}

/* Write a selector to target the “back to top” link you can find at the bottom-right corner */
.float-right:last-of-type {
  background-color: lightskyblue;
}

/* Write a selector to target the “Newer” button at the bottom */
.blog-pagination .btn:nth-child(2) {
  background-color: lightskyblue;
}

/* Write a selector to target the footer’s second link */
.blog-footer .text-center a:nth-child(2) {
  background-color: lightskyblue;
}
